<div class="flex items-center w-11/12 bg-gradient-to-b from-white to-slate-300 rounded-md relative -mt-2">
    <div class="container mx-auto flex justify-end">
      <div class="flex w-full py-12 sm:w-3/4 md:w-7/8 justify-center">
        <div class="flex flex-col gap-12 sm:w-5/6 px-4 font-montserrat font-semibold text-sitedark text-lg md:text-xl pt-[15dvh] sm:pt-0"> 
          <h4 class="text-3xl sm:text-4xl lg:text-5xl ml-4 sm:ml-0 font-bold text-sitemain tracking-tight">Our approach.</h4>
          <p class="w-5/6 lg:w-2/3 ml-8 md:ml-12 font-medium text-sm sm:text-base">
            We have always focused on friendly service and providing the best value you can find in the state. We go direct to the manufacturers so we never have to compromise on quality. We use durable, modular equipment that's easy to upgrade down the line and you can monitor everything right on your phone.
            <br><br>
            If anything does go wrong, we are also one of the largest service providers in Hawaii. We've seen your problem before, and we are always here to help.
          </p>
          <%= link_to 'Contact Us', home_service_path, class:"rounded-sm bg-sitesecond text-white text-base font-bold px-4 py-2 max-w-fit self-end mr-16 md:mr-24 xl:mr-[20%]" %>
        </div>
      </div>
    </div>
    <div>
      <%= image_tag 'used/using/oahupv.jpg', class:"absolute top-0 start-0 w-full sm:w-1/4 h-[15dvh] sm:h-full object-cover" %>
    </div>
  </div>
  <%= image_tag 'svg/separators/roofmain.svg', class:"mt-4"%>
  <div class="w-full bg-sitemain -mt-2">
    <div class="mt-8 self-end flex items-center w-11/12 bg-gradient-to-b from-white to-slate-300 rounded-md relative mb-4">
      <div class="container mx-auto">
        <div class="flex w-full py-12 sm:w-3/4 md:w-7/8 justify-center">
          <div class="flex flex-col text-start gap-12 sm:w-5/6 ml-4 pr-4 font-montserrat font-semibold text-sitedark text-lg md:text-xl pt-[15dvh] sm:pt-0"> 
            <h4 class="text-3xl sm:text-4xl lg:text-5xl ml-4 sm:ml-0 font-bold text-sitemain tracking-tight">Our process.</h4>
            <p class="w-5/6 lg:w-2/3 ml-8 md:ml-12 font-medium text-sm sm:text-base">
              One of our local consultants will have a meeting with you to discuss what you want out of a solar system and your power use over the past year. They'll take that information and design a system that meets the goals you set. You may have a few options, but once you find a plan that you like, we take it from there.
              <br><br>
              We prepare and submit all the applications and approvals needed by the city and state. Their turnaround is usually 4-6 weeks long.
              <br><br>
              When approval comes back, we can schedule the installation and all you have to do is turn it on a few days later. You can download the monitoring app for your phone, but we keep an eye on your system for you and we'll let you know if we see a problem.
            </p>
            <%= link_to 'Learn More', home_service_path, class:"rounded-sm bg-sitesecond text-white text-base font-bold px-4 py-2 max-w-fit self-end mr-16 md:mr-24 xl:mr-[20%]" %>
          </div>
        </div>
      </div>
      <div>
        <%= image_tag 'used/using/oahupv.jpg', class:"absolute top-0 end-0 sm:right-0 w-full sm:w-1/4 h-[15dvh] sm:h-full object-cover" %>
      </div>
    </div>
  </div>
</div>

<%# content storage %>
<p>
  Your household and reasons for going solar are unique, and the right solution for you needs to fit both. To solve 
  this problem we prefer modular components that let us minimize installation costs, upgrade easily down the line, 
  and keep repairs simple. Our preferred battery system comes with really powerful monitoring so you know what's 
  happening in real time. We also keep an eye on it for you so you never get a surprise power bill after a system fault.
</p>

<h2 class="text-3xl sm:text-4xl lg:text-5xl font-bold"> Old head replaced classes</h2>