<div class="flex flex-col">
  <div class="relative h-[90dvh] w-full">
    <video <%#autoplay muted%> loop class="h-full w-full object-cover">
      <source src="videos/iehhero.mp4" type="video/mp4">
    </video>
    <div class="flex w-full h-full z-10 absolute top-0 left-0 bg-black/40 px-12 md:px-28 xl:px-40">
      <div class="flex flex-col justify-end gap-8 w-full md:w-1/2 xl:w-1/3 pb-12">
        <h3 class="text-4xl xl:text-5xl font-black text-white tracking-tight whitespace-nowrap">Oahu's Home<br> for All Things Solar</h3>
        <p class="text-sm font-semibold text-white leading-7 bg-black/20 p-2 rounded-md sm:w-2/3 md:w-full">
        SolarTech Industries was founded on the idea that good design always yields the best results. We have a wide range of products, direct from suppliers, so we can tailor fit systems and upgrades to your home, your household, and your budget.
        <br><br>
        Send us a message or talk to one of our local consultants today about renewable power and reliable storage. 
        </p>
        <div class="flex self-end gap-4 items-center">
          <p class="text-lg font-black text-green-300">808-456-6254</p>

          <div class="relative">
            <button class="rounded-sm but-alt text-white font-bold m-[2px] px-4 py-2 max-w-fit">Quick Quote
            </button>
            <div class="absolute top-0 w-full h-full rounded-sm z-20"></div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="w-full bg-sitemain py-2 md:py-4 h-[45px] sm:h-[64px] md:h-[80px] flex gap-8 items-center justify-center">
    <%= image_tag 'borrowed/enphase.png', class:'h-3/4 rounded-xl shadow-xl shadow-black/25'%>
    <%= image_tag 'borrowed/longi.png', class:'h-3/4 rounded-xl shadow-xl shadow-black/25' %>
    <%= image_tag 'borrowed/tesla.jpg', class:'h-3/4 rounded-xl shadow-xl shadow-black/25' %>
  </div>

  <div class="self-end flex items-center w-11/12 bg-gradient-to-b from-white to-slate-300 rounded-md relative">
    <div class="container mx-auto">
      <div class="flex w-full py-12 sm:w-3/4 md:w-7/8 justify-center">
        <div class="flex flex-col text-start gap-12 sm:w-5/6 ml-4 pr-4 font-montserrat font-semibold text-sitedark text-lg md:text-xl pt-[15dvh] sm:pt-0"> 
          <h4 class="text-3xl sm:text-4xl lg:text-5xl ml-4 sm:ml-0 font-bold text-sitedark tracking-tight">We specialize in everything.</h4>
          <p class="w-5/6 lg:w-2/3 ml-8 md:ml-12 font-medium text-sm sm:text-base">
            We have helped thousands of families reduce their power bill and their carbon footprint with solar systems of all kinds. That definitely took a while, but now we install, repair and upgrade systems from all major manufacturers, all across the state of Hawaii.
            <br><br>
            You'll find some basic information about solar power here, but our local consultants can answer your questions and help assess the benefits from any changes you plan to make.
            <br><br>
            Whatever you need, SolarTech Industries is your one-stop solar shop.
          </p>
          <ul class="font-semibold grid grid-cols-2 gap-2 ml-16 sm:ml-12 md:ml-16 -mt-4 text-sm sm:text-base w-2/3 sm:w-5/6">
            <li><span class="text-xl font-black text-sitesecond">+</span>System Design</li>
            <li><span class="text-xl font-black text-sitesecond">+</span>Installation</li>
            <li><span class="text-xl font-black text-sitesecond">+</span>Repair</li>
            <li><span class="text-xl font-black text-sitesecond">+</span>Upgrades</li>
            <li class="whitespace-nowrap"><span class="text-xl font-black text-sitesecond">+</span>Warranty Services</li>
          </ul>
          <%= link_to 'Learn More', home_service_path, class:"rounded-sm but-main text-white text-base font-bold px-4 py-2 max-w-fit self-end mr-16 md:mr-24 xl:mr-[20%]" %>
        </div>
      </div>
    </div>
    <div>
      <%= image_tag 'used/using/oahupv.jpg', class:"absolute top-0 end-0 sm:right-0 w-full sm:w-1/4 h-[15dvh] sm:h-full object-cover" %>
    </div>
  </div>

  <div class="mt-8 flex items-center w-11/12 bg-gradient-to-b from-white to-slate-300 rounded-md relative">
    <div class="container mx-auto flex justify-end">
      <div class="flex w-full py-12 sm:w-3/4 md:w-7/8 justify-center">
        <div class="flex flex-col gap-12 sm:w-5/6 px-4 font-montserrat font-semibold text-sitedark text-lg md:text-xl pt-[15dvh] sm:pt-0"> 
          <h4 class="text-3xl sm:text-4xl lg:text-5xl ml-4 sm:ml-0 font-bold text-sitedark tracking-tight">We cut costs instead of corners.</h4>
          <p class="w-5/6 lg:w-2/3 ml-8 md:ml-12 font-medium text-sm sm:text-base">
            We go direct to the suppliers so we can offer durable, high-end panels and batteries at the lowest price. Our systems are specifically designed to fit your power needs so you don't buy hardware you don't need, you only generate power you will use, and you can store the surplus for nighttime, cloudy days, and car charging. 
            <br><br>
            When we do the math, quality hardware seems to pay for itself. Talk to a consultant today about what you need to stop paying power bills, just keep one to throw darts at.
          </p>
          <%= link_to 'Learn More', home_upgrades_path, class:"rounded-sm but-main text-white text-base font-bold px-4 py-2 max-w-fit self-end mr-16 md:mr-24 xl:mr-[20%]" %>
        </div>
      </div>
    </div>
    <div>
      <%= image_tag 'used/using/oahupv.jpg', class:"absolute top-0 start-0 w-full sm:w-1/4 h-[15dvh] sm:h-full object-cover" %>
    </div>
  </div>


  <div class="mt-8 self-end flex items-center w-11/12 bg-gradient-to-b from-white to-slate-300 rounded-md relative">
    <div class="container mx-auto">
      <div class="flex w-full py-12 sm:w-3/4 md:w-7/8 justify-center">
        <div class="flex flex-col text-start gap-12 sm:w-5/6 ml-4 pr-4 font-montserrat font-semibold text-sitedark text-lg md:text-xl pt-[15dvh] sm:pt-0"> 
          <h4 class="text-3xl sm:text-4xl lg:text-5xl ml-4 sm:ml-0 font-bold text-sitedark tracking-tight">We do the paperwork.</h4>
          <p class="w-5/6 lg:w-2/3 ml-8 md:ml-12 font-medium text-sm sm:text-base">
            Government incentives, tax forms, applications, and permits can be overwhelming to tackle all on your own. 
            <br><br>
            We handle all of that from start to finish, 
            you have better things to do.
          </p>
          <%= link_to 'Learn More', home_service_path, class:"rounded-sm but-main text-white text-base font-bold px-4 py-2 max-w-fit self-end mr-16 md:mr-24 xl:mr-[20%]" %>
        </div>
      </div>
    </div>
    <div>
      <%= image_tag 'used/using/oahupv.jpg', class:"absolute top-0 end-0 sm:right-0 w-full sm:w-1/4 h-[15dvh] sm:h-full object-cover" %>
    </div>
  </div>

  <div class="mt-8 flex items-center w-11/12 bg-gradient-to-b from-white to-slate-300 rounded-md relative">
    <div class="container mx-auto flex justify-end">
      <div class="flex w-full py-12 sm:w-3/4 md:w-7/8 justify-center">
        <div class="flex flex-col gap-12 sm:w-5/6 px-4 font-montserrat font-semibold text-sitedark text-lg md:text-xl pt-[15dvh] sm:pt-0"> 
          <h4 class="text-3xl sm:text-4xl lg:text-5xl ml-4 sm:ml-0 font-bold text-sitedark tracking-tight">We don't disappear.</h4>
          <p class="w-5/6 lg:w-2/3 ml-8 md:ml-12 font-medium text-sm sm:text-base">
            Our reputation lives on rooftops all across Hawaii, so we treat every one of them like our own.
            <br><br>
            After a new installation our technician will leave you with all the information you need to take good care of your solar system (it’s not much!). But sometimes things happen, so we offer a wide variety of maintenance, warranty, and solar panel repair services as well. 
            <br><br>
            Your new system will come with powerful monitoring software you can access, but we’ll keep an eye on it for you as well, and let you know if there is a problem with power output or battery capacity.
          </p>
          <%= link_to 'Learn More', home_upgrades_path, class:"rounded-sm but-main text-white text-base font-bold px-4 py-2 max-w-fit self-end mr-16 md:mr-24 xl:mr-[20%]" %>
        </div>
      </div>
    </div>
    <div>
      <%= image_tag 'used/using/oahupv.jpg', class:"absolute top-0 start-0 w-full sm:w-1/4 h-[15dvh] sm:h-full object-cover" %>
    </div>
  </div>
</div>