<div class="flex flex-col bg-white">
  
  <%= render 'indexsect/hero' %>

  <%= render 'indexsect/services' %>

  <%= render 'indexsect/powerchart' %>

  <%= render 'roof/white' %>

  <%= render 'indexsect/approach' %>

  <%= render 'roof/pale' %>

  <%= render 'indexsect/reviews' %>

  <%= render 'indexsect/nextsteps' %>



</div>
